body {
  margin-top:0;
  padding:0px;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #065;
}

/*
 * Formatting the header area
 */

header {
  background-color: #DFB887;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}

.register-form{
position: absolute;
background:#5f78cc;
opacity: 0.8;
width: 99%;
padding:0px;
border-radius: 10px;
}

.form-body {
  padding-top:15px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom: 35px;
  color:#666;
}

.form-body .label-title {
  text-align: left;
  color:rgb(231, 209, 147);
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
}

.form-body .form-box {
    font-size: 17px;
    box-sizing: border-box;
    width: 60%;
    height: 30px;
    padding-left: 10px;
    
    color: #333333;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    background: white;
    outline: none;
}


.horizontal-group .left{
  float:left;
  width:45%;

}

.horizontal-group .right{
  float:right;
  width:45%;

}
/*.Server-name{
  align-items: left;
}

.PrintQueue Name{

  align-items: right;
}*/

header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}

header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Center the body content
 */

.container {
  width: 1200px;
  margin: 0 auto;
}

/*div.home {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}*/

div.about {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

/*h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}

h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}*/

.menu {
  float: right;
  margin-top: 8px;
}

.menu li {
  display: inline;
}

.menu li + li {
  margin-left: 35px;
}

.menu li a {
  color: #444;
  text-decoration: none;
}
